    <table class="tracked-item">
      <thead>
        <tr>
          <th class="tracked-first">Food</th>
          <th title="Calories">Cals</th>
          <th>Fat</th>
          <th title="Carbohydrates">Carbs</th>
          <th title="Protein">Prot</th>
          <th class="tracked-last"><i class="glyphicon glyphicon-remove"></i></th>
        </tr>
      </thead>
      <tbody>
        {{#each models}}
        <tr class="tracked-row"{{title attributes.trackDate}}>
          <td class="tracked-attr"><a class="tracked-edit" href="#edit" data-item="{{attributes.id}}" title="{{attributes.itemName}}">{{attributes.itemName}}</a></td>
          <td class="tracked-attr">{{show attributes.valueCalories}}</td>
          <td class="tracked-attr">{{show attributes.valueTotalFat}}</td>
          <td class="tracked-attr">{{show attributes.valueTotalCarb}}</td>
          <td class="tracked-attr">{{show attributes.valueProteins}}</td>
          <td class="tracked-attr"><i class="tracked-delete glyphicon glyphicon-remove" data-id="{{attributes.id}}" title="Delete"></i></td>
        </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr class="totals-row">
          <td class="totals-attr">TOTALS</td>
          <td class="totals-attr">{{sumCals}}</td>
          <td class="totals-attr">{{sumFat}}</td>
          <td class="totals-attr">{{sumCarbs}}</td>
          <td class="totals-attr" colspan="2">{{sumProt}}</td>
        </tr>
      </tfoot>
    </table>